<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="cars.length === 0">
      <td colspan="6">No Cars.</td>
    </tr>
    <ng-container *ngFor="let car of cars">
      <tr *ngIf="car.id === editCarId" class="app-car-edit-row" [car]="car"
        (saveCar)="doSaveCar($event)" (cancelCar)="doCancelCar()"></tr>
      <tr *ngIf="car.id !== editCarId" class="app-car-view-row" [car]="car"
        (editCar)="doEditCar($event)" (deleteCar)="doDeleteCar($event)"></tr>
    </ng-container>
  </tbody>
</table>